<ul class="nav nav-tabs">
    <li class="nav-item">
        <NavLink class="nav-link" href="categories">Categories</NavLink>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="products">Products</a>
    </li>
</ul>
