@page "/categories"

<div class="row">
    <div class="col-12">
        @if (IsCreatedMode)
        {
            <Create OnCancel="(() => IsCreatedMode = false)"/>
        }
        else
        {
            <div class="pd-top">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h3>Category</h3>
                            </div>
                            <div class="col-md-10 row">
                                <div class="col-md-3">
                                    <select class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="EX: Search By Name">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-success btn-block" @onclick="(() => IsCreatedMode = true)">
                                        Add Category
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pd-top"><ViewCategories /></div>
        }
    </div>
</div>

@code
{
    bool IsCreatedMode { get; set; } = false;
}